@charset "UTF-8";

.box {
  margin: 20px;
  width:200px; 
  height: 100px; 
  border:1px solid #93B4C4; 
  background-color:#E3F6FC; 
}
.fixed {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   left: 20px;  /* 基点（ウィンドウ）からの距離 */
   width:200px;
   border:1px solid #D49999; 
   background-color:#F9DEDE;
}
p {
  text-align:center; 
  line-height: 60px;
}
.fixed p {
  line-height: 20px;
}
